.choose {
  background-color: #16171d;
  color: white;
}
.choose:hover {
  background-color: #1e2029;
}
.profile:hover {
  border: 2px solid forestgreen;
}
.active {
  border: 2px solid forestgreen;
}
